[submodule "buildscript/aria2-build-msys2"]
	path = development/aria2/script/buildscript/aria2-build-msys2
	url = https://github.com/myfreeer/aria2-build-msys2.git
[submodule "kernel/overlayfs-patches"]
	path = kernel/overlayfs-patches
	url = https://github.com/machsix/overlayfs-patches.git
[submodule "debian/aria2"]
	path = debian/aria2
	url = https://github.com/machsix/aria2-static-build
