<config>
	<sw_ver_1>2.30.193</sw_ver_1>
	<sw_ver_2>2.30.193.0502.2018</sw_ver_2>
	<hw_ver>WDMyCloud</hw_ver>
	<eula>1</eula>
	<language>5</language>
	<registered>0</registered>
	<eula_fw>0</eula_fw>
	<eula_apps>0</eula_apps>
	<analytics>0</analytics>
	<storage_scan>0</storage_scan>
	<network_mgr>
		<lan0>
			<speed>0</speed>
			<dhcp_enable>1</dhcp_enable>
			<ip>192.168.1.100</ip>
			<netmask>255.255.254.0</netmask>
			<gateway>192.168.1.1</gateway>
			<jumbo_enable>0</jumbo_enable>
			<jumbo_mtu>1500</jumbo_mtu>
			<vlan_enable>0</vlan_enable>
			<vlan_id>1</vlan_id>
			<dns_manual>0</dns_manual>
			<dns1>1.1.1.1</dns1>
			<dns2>9.9.9.9</dns2>
			<dns3>192.168.1.1</dns3>
			<dns1_bak>1.1.1.1</dns1_bak>
			<ipv6>
				<mode>dhcp</mode>
				<local_ipv6address></local_ipv6address>
				<local_prefix_length></local_prefix_length>
				<dhcp_ipv6address></dhcp_ipv6address>
				<dhcp_prefix_length></dhcp_prefix_length>
				<gateway></gateway>
				<dns1></dns1>
				<dns2></dns2>
				<count>0</count>
				<item id="1">
					<ipv6address></ipv6address>
					<prefix_length></prefix_length>
				</item>
				<item id="2">
					<ipv6address></ipv6address>
					<prefix_length></prefix_length>
				</item>
				<dns_manual>0</dns_manual>
			</ipv6>
			<tunnel_broker>
				<enable>0</enable>
				<username></username>
				<password></password>
				<server>anonymous.freenet6.net</server>
				<ipv6address></ipv6address>
			</tunnel_broker>
		</lan0>
		<lan1>
			<speed>0</speed>
			<dhcp_enable>1</dhcp_enable>
			<ip>192.168.0.33</ip>
			<netmask>255.255.255.0</netmask>
			<gateway>192.168.0.1</gateway>
			<jumbo_enable>0</jumbo_enable>
			<jumbo_mtu>1500</jumbo_mtu>
			<vlan_enable>0</vlan_enable>
			<vlan_id>1</vlan_id>
			<dns_manual>0</dns_manual>
			<dns1></dns1>
			<dns2></dns2>
			<dns3></dns3>
			<ipv6>
				<mode>off</mode>
				<local_ipv6address></local_ipv6address>
				<local_prefix_length></local_prefix_length>
				<dhcp_ipv6address></dhcp_ipv6address>
				<dhcp_prefix_length></dhcp_prefix_length>
				<gateway></gateway>
				<dns1></dns1>
				<dns2></dns2>
				<count>0</count>
				<item id="1">
					<ipv6address></ipv6address>
					<prefix_length></prefix_length>
				</item>
				<item id="2">
					<ipv6address></ipv6address>
					<prefix_length></prefix_length>
				</item>
				<dns_manual>0</dns_manual>
			</ipv6>
			<tunnel_broker>
				<enable>0</enable>
				<username></username>
				<password></password>
				<server>anonymous.freenet6.net</server>
				<ipv6address></ipv6address>
			</tunnel_broker>
		</lan1>
		<bonding>
			<enable>0</enable>
			<mode>1</mode>
		</bonding>
		<default_gw>lan0</default_gw>
		<dhcp_server>
			<enable>0</enable>
			<s_ip>192.168.0.200</s_ip>
			<e_ip>192.168.0.254</e_ip>
			<lease>604800</lease>
		</dhcp_server>
		<ddns>
			<enable>0</enable>
			<username></username>
			<pwd></pwd>
			<domain></domain>
			<server></server>
			<timeout>2073600</timeout>
			<timestamp></timestamp>
			<ip></ip>
		</ddns>
		<lltd>
			<enable>0</enable>
		</lltd>
		<location>US</location>
		<company>WESTERN DIGITAL</company>
		<snmp>
			<enable>0</enable>
			<comm>public</comm>
			<trap>
				<enable>0</enable>
				<comm>public</comm>
				<server></server>
			</trap>
		</snmp>
		<upnp_test></upnp_test>
		<ssh>
			<enable>1</enable>
		</ssh>
		<web>
			<ssl_enable>0</ssl_enable>
			<ssl_port>443</ssl_port>
			<port>80</port>
		</web>
		<portforwarding_scan>
			<count>2</count>
			<item id="1">
				<enable>1</enable>
				<status>OK</status>
				<protocol>TCP</protocol>
				<e_port>4443</e_port>
				<p_port>4443</p_port>
				<service>WebDAV</service>
			</item>
			<item id="2">
				<enable>1</enable>
				<status>OK</status>
				<protocol>TCP</protocol>
				<e_port>8080</e_port>
				<p_port>8080</p_port>
				<service>WebDAV</service>
			</item>
		</portforwarding_scan>
	</network_mgr>
	<system_mgr>
		<iscsi>
			<enable>0</enable>
			<iSNS>
				<enable>0</enable>
				<ip>0.0.0.0</ip>
			</iSNS>
		</iscsi>
		<quota>
			<enable>1</enable>
		</quota>
		<samba>
			<enable>1</enable>
			<workgroup>WORKGROUP</workgroup>
			<netbios_name>WDMyCloud</netbios_name>
			<server_string>WDMyCloud</server_string>
			<lmb>0</lmb>
			<dfs_enable>0</dfs_enable>
			<ads_enable>0</ads_enable>
			<ads_workgroup></ads_workgroup>
			<ads_username></ads_username>
			<ads_password></ads_password>
			<ads_realm></ads_realm>
			<ads_pwd_server></ads_pwd_server>
			<smb2_enable>0</smb2_enable>
		</samba>
		<afp>
			<enable>1</enable>
		</afp>
		<iso_mount>
			<enable>1</enable>
		</iso_mount>
		<nfs>
			<enable>1</enable>
		</nfs>
		<webdav>
			<enable>1</enable>
		</webdav>
		<crond>
			<list>
				<count>6</count>
				<name id="1">stime</name>
				<name id="2">wd_crontab</name>
				<name id="3">app_get_info</name>
				<name id="4">recycle_bin_clear</name>
				<name id="5">chk_wfs_download</name>
				<name id="6">internal_backup</name>
				<name id="7">boot_script</name>
				<name id="8">random_check</name>
				<name id="9">fw_available</name>
				<name id="10">user_expire_chk</name>
				<name id="11">pull_wdlog_config</name>
			</list>
			<stime>
				<count>1</count>
				<item id="1">
					<method>3</method>
					<1>30</1>
					<2>2</2>
					<3>*</3>
					<4>*</4>
					<5>*</5>
					<run>/usr/sbin/stime&amp;</run>
				</item>
			</stime>
			<wd_crontab>
				<count>1</count>
				<item id="1">
					<method>3</method>
					<1>0</1>
					<2>3</2>
					<3>*</3>
					<4>*</4>
					<5>*</5>
					<run>wd_crontab.sh&amp;</run>
				</item>
			</wd_crontab>
			<app_get_info>
				<count>1</count>
				<item id="1">
					<method>3</method>
					<1>0</1>
					<2>4</2>
					<3>*</3>
					<4>*</4>
					<5>*</5>
					<run>auto_fw -a -c&amp;</run>
				</item>
			</app_get_info>
			<recycle_bin_clear>
				<count>1</count>
				<item id="1">
					<method>3</method>
					<1>0</1>
					<2>0</2>
					<3>*</3>
					<4>*</4>
					<5>*</5>
					<run>auto_clear_recycle_bin.sh &amp;</run>
				</item>
			</recycle_bin_clear>
			<chk_wfs_download>
				<count>1</count>
				<item id="1">
					<method>3</method>
					<1>30</1>
					<2>3</2>
					<3>*</3>
					<4>*</4>
					<5>*</5>
					<run>/usr/sbin/chk_wfs_download&amp;</run>
				</item>
			</chk_wfs_download>
			<internal_backup></internal_backup>
			<boot_script>
				<count>1</count>
				<item id="1">
					<method>3</method>
					<1>*</1>
					<2>*</2>
					<3>*</3>
					<4>*</4>
					<5>*</5>
					<run>/usr/local/config/boot-script.sh &amp;</run>
				</item>
			</boot_script>
			<random_check>
				<item id="1">
					<method>3</method>
					<1>0</1>
					<2>0</2>
					<3>*</3>
					<4>*</4>
					<5>*</5>
					<run>random_check -s &amp;</run>
				</item>
			</random_check>
			<fw_available>
				<item id="1">
					<method>3</method>
					<1>9</1>
					<2>22</2>
					<3>*</3>
					<4>*</4>
					<5>*</5>
					<run>auto_fw -c 1 &amp;</run>
				</item>
			</fw_available>
			<user_expire_chk>
				<item id="1">
					<method>3</method>
					<1>0</1>
					<2>0</2>
					<3>*</3>
					<4>*</4>
					<5>*</5>
					<run>expire.sh</run>
				</item>
			</user_expire_chk>
			<pull_wdlog_config>
				<item id="1">
					<method>3</method>
					<1>52</1>
					<2>11</2>
					<3>*</3>
					<4>*</4>
					<5>*</5>
					<run>/usr/local/sbin/PullWdlogConfig.sh</run>
				</item>
			</pull_wdlog_config>
		</crond>
		<time>
			<timezone>6</timezone>
			<ntp_enable>1</ntp_enable>
			<ntp_server></ntp_server>
			<ntp_server_bak></ntp_server_bak>
			<time_format>12</time_format>
			<date_format>YYYY-MM-DD</date_format>
		</time>
		<idle>
			<time>5</time>
		</idle>
		<power_management>
			<hdd_hibernation_enable>1</hdd_hibernation_enable>
			<turn_off_time>10</turn_off_time>
			<recovery_enable>1</recovery_enable>
			<fan>0</fan>
			<power_off_scheduling_enable>0</power_off_scheduling_enable>
			<led_enable>1</led_enable>
			<led_sleep>0</led_sleep>
		</power_management>
		<mail>
			<username></username>
			<pwd></pwd>
			<smtp></smtp>
			<sender></sender>
			<receiver></receiver>
			<port>25</port>
			<alert_type>2</alert_type>
			<alert_mail_priority>2</alert_mail_priority>
			<tls>0</tls>
			<auth_method>1</auth_method>
			<mail_1></mail_1>
			<mail_2></mail_2>
			<mail_3></mail_3>
			<mail_4></mail_4>
			<mail_5></mail_5>
			<enable>0</enable>
		</mail>
		<log>
			<enable>0</enable>
			<ip></ip>
		</log>
		<fw>
			<auto_update>0</auto_update>
			<sch_type>7</sch_type>
			<sch_hour>3</sch_hour>
		</fw>
		<lcd>0</lcd>
		<extended_log>
			<enable>0</enable>
			<path></path>
		</extended_log>
		<ups_management>
			<ups_pwr_recovery>0</ups_pwr_recovery>
			<ups_mode>0</ups_mode>
			<ups_plugmode>0</ups_plugmode>
			<ups_network>0</ups_network>
		</ups_management>
	</system_mgr>
	<app_mgr>
		<upnpavserver>
			<enable>1</enable>
			<analytics>0</analytics>
		</upnpavserver>
		<itunesserver>
			<enable>1</enable>
		</itunesserver>
		<ftp>
			<setting>
				<version>1.00</version>
				<maxclientsnumber>10</maxclientsnumber>
				<maxidletime>10</maxidletime>
				<port>21</port>
				<flowcontrol>0</flowcontrol>
				<filesystemcharset>UTF-8</filesystemcharset>
				<clientcharset>UTF-8</clientcharset>
				<passiveportrange>55536:55663</passiveportrange>
				<externalip></externalip>
				<state>0</state>
				<tlsencryption>1</tlsencryption>
				<forcepasvmode>0</forcepasvmode>
				<blockipstatus>1</blockipstatus>
				<anonymous_access>1</anonymous_access>
				<connectionperip>5</connectionperip>
				<monitorduration>5</monitorduration>
				<retryfails>5</retryfails>
				<fxpaccess>0</fxpaccess>
				<blockduration>5</blockduration>
			</setting>
		</ftp>
	</app_mgr>
	<backup_mgr>
		<rsyncd>
			<enable>0</enable>
			<rsyncd_pwd></rsyncd_pwd>
			<rsyncd_port>873</rsyncd_port>
		</rsyncd>
		<time_machine>
			<enable>1</enable>
			<merge_srv>1</merge_srv>
		</time_machine>
	</backup_mgr>
	<dsk_mgr>
		<hdd_config>
			<raid_auto_sync>0</raid_auto_sync>
		</hdd_config>
		<dsk_diagnostic></dsk_diagnostic>
		<volume_mapping>
			<volume_1>Volume_1</volume_1>
			<volume_2>Volume_2</volume_2>
		</volume_mapping>
		<smart>
			<test>
				<hd_a></hd_a>
				<hd_b></hd_b>
				<hd_c></hd_c>
				<hd_d></hd_d>
			</test>
			<hd_a_sn>WD-WMC4N0N1K7VZ</hd_a_sn>
			<hd_b_sn></hd_b_sn>
			<hd_c_sn></hd_c_sn>
			<hd_d_sn></hd_d_sn>
		</smart>
	</dsk_mgr>
	<account_mgr>
		<users></users>
	</account_mgr>
	<wizard_mgr></wizard_mgr>
	<status_mgr></status_mgr>
	<raccess_mgr></raccess_mgr>
	<download_mgr>
		<p2p>
			<enable>0</enable>
		</p2p>
		<usb_backup>
			<enable>0</enable>
			<direction>0</direction>
			<sour></sour>
			<dest></dest>
			<type>0</type>
		</usb_backup>
		<mtp_backup>
			<enable>0</enable>
			<dst></dst>
			<automatic>0</automatic>
			<mode>0</mode>
			<transfer_folder>/Public/USB Import</transfer_folder>
			<folder_option>0</folder_option>
			<folder_name></folder_name>
		</mtp_backup>
	</download_mgr>
	<media></media>
	<cloud>
		<enable>0</enable>
	</cloud>
	<recycle_bin>
		<auto_clear>0</auto_clear>
		<day>30</day>
	</recycle_bin>
	<site>
		<lan0>
			<ipv6>
				<count>0</count>
			</ipv6>
		</lan0>
	</site>
</config>
