Package:          busybox
Packager:         machsix
Email:            machsix@github.com
Homepage:         https://github.com/machsix/WDMyCloud-Gen2
Description:      BusyBox combines tiny versions of many common UNIX utilities into a single small executable.
Icon:             busybox.png
AddonShowName:    busybox
AddonIndexPage:   index.php
AddonUsedPort:    80
InstDepend:
InstConflict:
StartDepend:
StartConflict:
Version:          2.0
MinFWVer:
MaxFWVer:
IndividualFlag:
