Package:          entware
Packager:         Mach6
Email:
Homepage:
Description:      Entware is software repository for embedded devices like routers or network attached storages. 2000+ packages are available at moment of writing this article. Check https://github.com/Entware to learn more
Icon:             entware.png
AddonShowName:    entware
AddonIndexPage:
AddonUsedPort:
InstDepend:
InstConflict:
StartDepend:
StartConflict:
Version:          2.0.0
MinFWVer:
MaxFWVer:
IndividualFlag:
