Package:          Entware
Packager:         Mach6
Email:            
Homepage:         
Description:      Install entware for WDMyCloud Gen2. It will modify /opt folder. You need to have wget before using this. Check https://github.com/Entware to learn more.
Icon:             Entware.png
AddonShowName:    Entware
AddonIndexPage:
AddonUsedPort:    
InstDepend:
InstConflict:
StartDepend:
StartConflict:
Version:          1.0.0
MinFWVer:
MaxFWVer:
IndividualFlag:
